<% if users == all %>
  <% if users.any? %>
    <% users.each do |user| %>
      <div class="col-sm-6 col-md-4" style="float: left;">
        <div class="card">
          <div class="card-header">
            <a href="<%= user_path(user) %>"><h3 class="card-title text-center"><%= user.name %></h3></a>
          </div>
          <div class="card-body">
            <% if user.picture? %>
              <a href="<%= user_path(user) %>"><img class="rounded img-fluid" src="<%= user.picture %>" alt=""></a>
            <% else %>
              <a href="<%= user_path(user) %>"><img class="rounded img-fluid" src="<%= gravatar_url(user, { size: 500 }) %>" alt=""></a>
            <% end %>
            <div class="mt-1">
              <a href="<%= user_path(user) %>"><span class="badge badge-secondary ml-1">Microposts <%= @count_microposts %></span></a>
              <a href="<%= followings_user_path(user) %>"><span class="badge badge-secondary ml-1">Follow <%= @count_followings %></span></a>
              <a href="<%= followers_user_path(user) %>"><span class="badge badge-secondary ml-1">Follower <%= @count_followers %></span></a>
            </div>
            <table class="table table-bordared table-striped mt-4 text-xenter">
              <thead>
                <tr>
                  <th class="text-center">ユーザー紹介文</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center"><%= user.introduction %></td>
                </tr>
              </tbody>
            </table>
            <%= render "relationships/follow_button", user: user %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% if users.any? %>
    <ul class="list-unstyled">
      <% users.each do |user| %>
      <li class="media">
        <% if user.picture? %>
          <a href="<%= user_path(user) %>"><img class="mr-3 rounded" src="<%= user.picture.to_s %>" width="50" height="50"></a>
        <% else %>
          <a href="<%= user_path(user) %>"><img class="mr-3 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt=""></a>
        <% end %>
        <div class="media-body">
          <div>
            <%= user.name %>
          </div>
          <div>
            <% if user.introduction? %>
              <p><%= link_to user.introduction, user_path(user) %></p>
            <% else %>
              <p><%= link_to "View profile", user_path(user) %></p>
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <% paginate users %>
  <% end %>
<% end %>