<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <% if @user.picture.to_s %>
          <img class="rounded img-fluid" src="<%= @user.picture %>" alt="">
        <% else %>
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
        <% end %>
      </div>
    </div>
    <%= render "relationships/follow_button", user: @user %>
  </aside>
  <div class="col-sm-6 offset-sm-1">
    <table class="table table-bordared table-striped mt-4 text-xenter">
      <thead>
        <tr>
          <th class="text-center">ユーザー紹介文</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.introduction %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <ul class="nav nav-tabs nav-justified mb-3">
     <!--ここにナビをついか -->
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Microposts  <span class="badge badge-secondary"><%= @count_microposts %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= "active" if current_page?(followings_user_path(@user)) %>">Followings <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= "active" if current_page?(followers_user_path(@user)) %>">Followers <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= "active" if current_page?(likes_user_path(@user)) %>">Favorites <span class="badge badge-secondary"><%= @count_favorites %></span></a></li>
    </ul>
    <%= render 'microposts/microposts', microposts: @microposts, user: @user %>
    <% if current_user.name == @user.name %>
      <%= link_to "退会する", current_user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-block mt-4 mb-4" %>
    <% end %>
  </div>
</div>