<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
      <% if micropost.user.picture? %>
        <a href="<%= user_path(micropost.user) %>"><img class="mr-3 rounded" src="<%= micropost.user.picture %>" width="50" height="50"></a>
      <% else %>
        <a href="<%= user_path(micropost.user) %>"><img class="mr-3 rounded" src="<%= gravatar_url(micropost.user, { size: 50}) %>"></a>
      <% end %>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %><span class="text-muted">post at<%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div class="row">
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm mr-2" %>
            <%= link_to "Edit", edit_micropost_path(micropost), class: "btn btn-primary btn-sm mr-2" %>
          <% end %>
          <!-- おそらくここにボタン追加 renderにて-->
          <%= render "favorites/favorite_button", micropost: micropost %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>